/* Import Tailwind's base, components, and utilities */
@tailwind base;
@tailwind components;
@tailwind utilities;

/* Custom styles for Markdown content using the `prose` class */

/* Enforce light theme colors */

body, .prose {
    background-color: white !important;
    color: black !important;
  }
  
  .prose h1, .prose h2, .prose h3, .prose p, .prose a, .prose blockquote, .prose pre, .prose table, .prose th, .prose td {
    background-color: white !important;
    color: black !important;
    border-color: #d1d5db !important; /* Light gray border */
  }
  

.prose h1 {
  @apply text-5xl font-bold text-blue-darkest mb-4;
}

.prose h2 {
  @apply text-4xl font-bold text-blue-dark mb-3;
}

.prose h3 {
  @apply text-3xl font-bold text-blue-dark mb-2;
}

.prose p {
  @apply text-base text-black leading-relaxed mb-4;
}

.prose a {
  @apply text-blue hover:text-blue-dark; /* Primary blue with a darker hover */
}

.prose blockquote {
  @apply italic text-blue-light border-l-4 border-blue-lighter pl-4;
}

.prose pre {
  @apply bg-blue-lightest p-4 rounded-lg overflow-x-auto;
}

/* New styles for tables in Markdown */
.prose table {
  @apply w-full border-collapse border border-gray-200 rounded-lg overflow-hidden;
}

.prose th, .prose td {
  @apply border border-gray-200 p-3 text-left;
}

.prose th {
  @apply bg-blue-100 font-semibold;
}

.prose td {
  @apply bg-white;
}
